Static = fun(Ext) ->
	{lists:append(["/", Ext, "/[...]"]), cowboy_static, [
		{directory, {priv_dir, App, [list_to_binary(Ext)]}},
		{mimetypes, {fun mimetypes:path_to_mimes/2, default}}
	]}
end,
HTML = fun(Url, File) ->
	{Url, cowboy_static, [
		{directory, {priv_dir, App, [<<"html">>]}},
		{file, <<begin list_to_binary(File) end/binary, ".html">>},
		{mimetypes, [{<<".html">>, [<<"text/html">>]}]}
	]}
end,
[
	{'_', [
		Static("css"),
		HTML("/", "index"),
		{'_', h_notfound, []}
	]}
].